{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}
<h1 align="center">Accueil</h1>
{% endblock %}
