{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Ajout Catégorie{% endblock %}
{% block body %}
{{parent()}}
<div class="container-fluid">
 <div class="row justify-content-center">
 <h1 class="text-center text-primary p-4">Ajouter une Catégorie</h1>
 </div>
 <div class="row justify-content-center">
 <div class="col-8 bg-white p-4 m-0 text-primary">
 {{form(form)}}
 </div>
 </div>
</div>
{% endblock %}