{% extends 'base.html.twig' %}

{% block title %}{{ parent()}} - Faire un test{% endblock %}
{% block content %}

<div class="container-fluid">
 <div class="row justify-content-center">
 <h1 class="text-center text-primary p-4"> Faire un test</h1>
 </div>
 <div class="row justify-content-center">
 <div class="col-12 bg-white p-4 m-0 text-primary">
 



{% endblock %}