{% extends 'base.html.twig' %}

{% block title %}{{parent()}}Inscription{% endblock %}
{% block body %}
{{parent()}}
<div class="container-fluid">
 <div class="row justify-content-center">
 <h1 class="text-center text-primary p-4">S'inscrire</h1>
 </div>
 <div class="row justify-content-center">
 <div class="col-8 bg-white p-4 m-0 text-primary">
 {{form(form)}}
 </div>
 </div>
</div>

{% if is_granted('IS_AUTHENTICATED_FULLY')%}
        <h3>Bonjour {{app.user.email}}</h3>
    {% endif %}


{% endblock %}